table, td {
	border: 2px solid red;
}
th {
	background: #4CAF50;
	color: white;
	border: 3px solid black;
	text-transform: uppercase;
}
td {
	background: blue;
	color: white;
}


ol {
	list-style-type: upper-roman;
}
ol ol {
	list-style-type: lower-roman;
}

ol ol ol {
	list-style-type: lower-greek;
}

td.color1 {
	background: black!important;
	color: white!important;
}

td.color2 {
	background: red!important;
	color: black!important;
}
div.tresc {
        background: lightblue;
        width: 60%;
        margin-left: 20%;
}

div.menu {
        background: pink;
        color: white!important;
        width: 20%;
        position: fixed;
        z-index: 1;
        left: 0;
        overflow-x: hidden;
        padding-top: 20px;
        text-align: center;
}

div.menu > h1 {
        color: white!important;
}

h1 {
        color: green;
        letter-spacing: 5px;
}

h2 {
        color: red;
}

* {
        font-family: sans-serif, helvetica;
}

p {
  text-indent: 50px;
}

p::first-letter {
        initial-letter: 4;
        font-weight: bold;
        color: white;
        font-size: 200%;
}
a {
        cursor: default;
        color: white;
        background-color: lightblue;
}

@media only screen and (max-width: 800px) {
    .menu { display: none; }
}

a:hover {
        background-color: white;
        color: pink;
}

