#img1 {
 	float: left;
	width: 20%;
	height: 100%;	
}
#img2 {
	float: right;
	width: 20%;
	height: 100%;

}
div.tresc {
        background: lightblue;
        width: 60%;
        margin-left: 20%;
}

div.menu {
        background: pink;
        color: white!important;
        width: 20%;
        position: fixed;
        z-index: 1;
        /*top: 0;*/
        left: 0;
        overflow-x: hidden;
        padding-top: 20px;
        text-align: center;
}
a {
	cursor: default;
	color: white;
        background-color: lightblue;
}

@media only screen and (max-width: 800px) {
    .menu { display: none; }
}

a:hover {
	background-color: white;
	color: pink;
}
div.menu > h1 {
        color: white!important;
}

h1 {
        color: green;
        letter-spacing: 5px;
}

h2 {
        color: red;
}

* {
        font-family: sans-serif, helvetica;
}

p {
  text-indent: 50px;
}

p::first-letter {
        initial-letter: 4;
        font-weight: bold;
        color: white;
        font-size: 200%;
}

